body{
    background-color: #17a2b812 !important;
}

h5{
    padding-bottom: 10px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

#label-dynamic-field{
    margin-bottom:  -10px;
}

.glyphicon
{
    font-size: 12px;
}

#question-form{
margin-left: 16px;
}

.span-fields{
margin-left: 16px;
}

.col-question{
    margin-bottom: 10%;
}

.btn-success{
    border-color: #17a2b8 !important;
    background-color: #17a2b8 !important;
}
.btn-remove{
    border-color: #6c757d !important;
    background-color: #6c757d !important;
}