 /* My custom css */

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

#label-dynamic-field{
    margin-bottom:  -10px;
}

.glyphicon
{
    font-size: 12px;
}

#question-form{
margin-left: 16px;
}

.span-fields{
margin-left: 16px;
}

.btn-success{
    border-color: #17a2b8 !important;
    background-color: #17a2b8 !important;
}
.btn-remove{
    border-color: #6c757d !important;
    background-color: #6c757d !important;
}

.img-center{
  display: none;
  margin:  0 auto;
}

#no-extension{
    display: none;
}